$mainFont: 'Open Sans', sans-serif;
.vllaContent {
  padding: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

app-post {
  flex: 0 1 47%;
  @media screen and (max-width: 768px){
    flex: 1 1 auto;
  }
}

.vllaFilter {
  &__label, &__option, select {
    font-family: $mainFont;
  }
  select {
    width: 160px;
    font-size: 16px;
  }
}
